@import url('https://fonts.googleapis.com/css?family=Poiret+One|Text+Me+One&display=swap');

html {
  background-color: rgb(10, 11, 11);
  font-family: 'Text Me One', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.755), rgba(0, 0, 0, 0.851)), url(./assets/brickbackground.png);
  background-size: cover 100%;
  overflow: hidden;
}

.wrapper {
  height: 75vh;
  width: 100vw;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

h1 {
  color:#b0ccde;
  font-size: 3.5rem;
  letter-spacing: .07em;
  text-shadow: 
  .1vw 0vw .25vw #b0d6de, .2vw 0vw .25vw #b0d6de, .4vw 0vw .25vw #b0d6de, 
  .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  .1vw 0vw  .1vw #0c569b, .2vw 0vw  .1vw #0c569b, .4vw 0vw  .1vw #0c569b,
  .1vw 0vw   2vw #0c569b, .2vw 0vw   2vw #0c569b, .4vw 0vw   2vw #0c569b, 
  .1vw 0vw   1vw #04427d, .2vw 0vw   1vw #04427d, .4vw 0vw   5vw #04427d, 
  .1vw 0vw   5vw #04427d, .2vw 0vw  20vw #04427d, .4vw 0vw  10vw #04427d,
  .1vw 0vw  10vw #04427d, .2vw 0vw  30vw #04427d, .4vw 0vw  10vw #04427d;
}

#offset {
  animation: letter-flicker 2s linear infinite;
}

@keyframes letter-flicker {
  0% {
    opacity:0.1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  2% {
    opacity:0.1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  4% {
    opacity:1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  
  19% {
    opacity:1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  21% {
    opacity:0.1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  23% {
    opacity:1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  
  80% {
    opacity:1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  83% {
    opacity:0.4;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  87% {
    opacity:1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
}

/* icons */
.linkedin {
  width: 10%;
}

.github {
  width: 10%;
}

/* laptop screens */
@media only screen and (min-width: 768px) {

body {
  background-color: rgb(10, 11, 11);
  font-family: 'Text Me One', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.755), rgba(0, 0, 0, 0.851)), url(./assets/brickbackground.png);
  background-size: cover 100%;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

h1 {
  color:#b0ccde;
  font-size: 5.5rem;
  letter-spacing: .07em;
  text-shadow: 
  .1vw 0vw .25vw #b0d6de, .2vw 0vw .25vw #b0d6de, .4vw 0vw .25vw #b0d6de, 
  .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  .1vw 0vw  .1vw #0c569b, .2vw 0vw  .1vw #0c569b, .4vw 0vw  .1vw #0c569b,
  .1vw 0vw   2vw #0c569b, .2vw 0vw   2vw #0c569b, .4vw 0vw   2vw #0c569b, 
  .1vw 0vw   1vw #04427d, .2vw 0vw   1vw #04427d, .4vw 0vw   5vw #04427d, 
  .1vw 0vw   5vw #04427d, .2vw 0vw  20vw #04427d, .4vw 0vw  10vw #04427d,
  .1vw 0vw  10vw #04427d, .2vw 0vw  30vw #04427d, .4vw 0vw  10vw #04427d;
}

#offset {
  animation: letter-flicker 2s linear infinite;
}

@keyframes letter-flicker {
  0% {
    opacity:0.1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  2% {
    opacity:0.1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  4% {
    opacity:1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  
  19% {
    opacity:1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  21% {
    opacity:0.1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  23% {
    opacity:1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  
  80% {
    opacity:1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  83% {
    opacity:0.4;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
  87% {
    opacity:1;
    text-shadow: .1vw 0vw   0vw #0c569b, .2vw 0vw   0vw #0c569b, .4vw 0vw   0vw #0c569b,
  }
}
}