body {
  background-color: black;
  background-image: url(https://uc9b07811d6c518672f8d26a35e3.dl.dropboxusercontent.com/cd/0/inline/AwmMDqYah5DoKBkhkNM69obQxeCGpdICLQgPE2KUm3dzjVCLeeIc08r7qxK9_WxCATpdY76cBQu2oJd0_QV0ldqcYKuHSG_CQEg33nEgO5jEOQ/file#);
}

svg {
  height: 4rem;
  width: 3.5rem;
}

#twitter-path {
  fill: #545454;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#twitter-path:hover {
  fill: #60a5f9;
  stroke-dashoffset: 1500;
  stroke-dasharray: 1250;
}

#github-path {
  fill: #545454;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#github-path:hover {
  fill: #b0ccde;
  stroke-dashoffset: 1500;
  stroke-dasharray: 15;
}

a:hover {
  fill: #yellow;
  stroke-dashoffset: 1500;
  stroke-dasharray: 15;
}