body {
  background-color: black;
}

svg#twitter {
  height: 3rem;
  width: 3rem;
}

#twitter-path {
  fill: #545454;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#twitter-path:hover {
  fill: #60a5f9;
  stroke-dashoffset: 1500;
  stroke-dasharray: 1250;
}